In [1]:
import config
import pymysql

In [2]:
rds_host  = config.db_endpoint
name = config.db_username
password = config.db_password
db_name = config.db_name
port = 3306

In [3]:
 conn = pymysql.connect(rds_host, user=name,
                           passwd=password, db=db_name, connect_timeout=5)

In [4]:
with conn.cursor() as cur:
    cur.execute("create table NewTweets (Time varchar(255), Picture varchar(255), StylePic varchar(255), Username varchar(255), id varchar(255), PRIMARY KEY (id))")
    conn.commit()